






/* 1190px */
@media screen and (max-width : 1190px) {
    .header__bottom h1{
        font-size: 48px;
        line-height: 58px;
    }
    
}

/* 1080px */
@media screen and (max-width : 1080px) {
    .title-w3l{
        font-size: 32px !important;
        line-height: 40px;
    }
    .nav4-text{
        font-size: 40px;
        line-height: 50px;
        max-width: 100%;
    }
}



/* 992px */
@media screen and (max-width : 992px) {
    .header__bottom h1{
        font-size: 44px;
        line-height: 53px;
    }

    .more-img{
        min-height: 200px;
    }
    .subscribe-cat-link{
        font-size: 18px !important;
    }

    .more-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        grid-gap: 20px 10px;
    }
}


/* 800px */
@media screen and (max-width : 800px){
    
    .header__bottom h1{
        font-size: 40px;
        line-height: 50px;
    }
    .gal-slide-info h4{
        font-size: 18px;
        line-height: 28px;
    }
    .gal-slide-info span{
        font-size: 16px;
    }
    .nav4-text{
        font-size: 35px;
        line-height: 40px;
    }
    .video__container a{
        font-size: 20px;
        top: 40%;
        left: 40%;
    }
    .video__container img{
        width:  650px;
        height: 300px;
        margin-left: 20px;
    }
    .copy_right_right ul{
        flex-direction: column;
    }
}




/* 600px */
@media screen and (max-width : 600px) {
    .head-input{
        display: none;
    }    
    .title-subhny{
        font-size: 16px !important;
    }
    .title-w3l{
        font-size: 30px !important;
        line-height: 38px;
    }

    p{
        font-size: 16px !important;
        line-height: 26px;
    }
    .nav7-text{
        font-size: 2em;
    }

    .video__container a{
        font-size: 20px;
        top: 40%;
        left: 40%;
    }
    .video__container img{
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }

    .testimonials{
        display: none;
    }
    .copy_right_right ul{
        flex-direction: column;
    }

    .diner ul {
        justify-content: center;
    }
}


/* 576px */

@media screen and (mix-width : 777px) {
    
}





/* 480px */
@media screen and (max-width : 480px){
    

    .header__bottom h1{
        font-size: 28px;
        line-height: 38px;
    }

    .btn-head{
        padding: 10px 21px;
    }
    .title-w3l{
        font-size: 26px !important;
        line-height: 36px;
    }
    .nav4-text{
        font-size: 26px;
        line-height: 34px;
    }
    .btn-white, .btn-style {
        padding: 10px 21px;
    }
    .count-text{
        font-size: 0.9em !important;
    }
    .copy_right_right ul{
        flex-direction: column;
    }

}



/* 375px */


@media screen and (max-width : 375px) {
    .btn-head{
        font-size: 16px;
    }
    .title-subhny {
        font-size: 16px;
        letter-spacing: 0.5px;
    }
    .title-w3l{
        font-size: 24px !important;
        line-height: 34px;
    }
    .btn-white, .btn-style {
        font-size: 16px;
    }
    .copy_right_right ul{
        flex-direction: column;
    }
}





